@font-face {
	font-family: Mario-Kart;
	src:
	url(https://ctgp-7.github.io/src/font/mariokart.ttf);
}
@font-face {
	font-family: SuperMarioBros;
	src:
	url(https://ctgp-7.github.io/src/font/supermariobros.ttf);
}
@font-face {
	font-family: SuperMario256;
	src:
	url(https://ctgp-7.github.io/src/font/SuperMario256.ttf);
}
body, html {
	background-color: black;
	color: white;
}

h1 {
	font-family: "Mario-Kart";
}
.mariokart {
	font-family: "Mario-Kart";
}
.mariobros {
	font-family: "SuperMarioBros";
}
.mariobros.small {
	font-size: 8.3pt;
}
.supermario256 {
	font-family: "SuperMario256" !important;
	letter-spacing: 1.2px;
}
p > strong {
	font-family: "SuperMario256" !important;
	letter-spacing: 11.2px;
	font-size: 18pt
}
.discordTag {
font-family: "SuperMario256" !important;
	letter-spacing: 1.2px !important;
	font-size: 15pt !important;
	text-decoration: none;
}
p > i {
font-family: "SuperMario256" !important;
	letter-spacing: 1.5px;
}
.plumberbros.small {
	font-size: 6pt;
}
.mariobros > a, ul > a, ul {
font-family: "SuperMarioBros";

}
ul {
	color: white
}
ul > a {
	font-family: "SuperMarioBros";
}
li {
	margin-top: 3.5%;
	margin-bottom: 3.5%;
}
a {
	color: white;
	text-decoration: underline !important;
}
a:visited {
	color: white;
	text-decoration: underline !important;
}
a:hover {
	color: gray;
	text-decoration: underline !important;
}
.title {
	text-align: center;
	letter-spacing: normal;
	margin-bottom: 2%
}
.title-img {
	text-align: center;
}
.container {
	text-align: center;
}
.subtitles {
	margin-bottom: 5%;
}
.directory {
	width: 50%;
	text-align: left;
	font-size: 9pt !important;
	padding: 6px 6px 6px 6px;
	float: left;
}
.description {
	margin-top: 2.3%;
	width: 50%;
	text-align: center;
	height: 100%;
	float: right;
}
.desc {
	font-size: 10pt;
	color: white;

}
.container-b {
	overflow: hidden;
	text-align: center;
	outline: 2px dashed red;
	padding: 6px 6px 6px 6px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 3%;
	margin-top: 3%;
	width: 100%;
}
.container-c {
	margin-top: 5vw;
	width: 100%;
	height: 100%;
}
.faq {
	color: white
	margin-top: 3%;
	text-decoration: none;
}
.question {
	color: white;
	
}
.answer, .answer > a, .red {
	font-family: "SuperMario256";
	letter-spacing: 1px;
}
.line {
	/*height: 2px !important;
	color: white !important;
	background-color: white !important;*/
	margin-top: 5%;
	margin-bottom: 5%;
}
]
.links {
	font-size: 8pt;
}
.links-title {
	font-size: 12pt;
}
.links-container {
	margin-bottom: 15%;
}
.blank-divider {
	height: 2px !important;
	color: black !important;
	background-color: black !important;
	margin-bottom: 3%;
}
code {
	background-color: #2b2b2b;
	color: red;
}
.red {
	display: inline-block;
	color: red;
}
.credits {
	margin-bottom: 5%;
}
.hide {
	display: none !important;
}